@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&display=swap');

html {
    background-color: #efefef;
    scroll-behavior: smooth;
}

.letout {
    margin: 10% 20%
}

.liste {
    list-style: none;
    font-family: 'IBM Plex Sans';
    display: flex;
    justify-content: space-evenly;
}

div.liste li {
    color: white;
    font-weight: 600;
    font-size: 80%;
    padding: 19px 19px;
}


a {
    text-decoration: none;
    color: black;
}

span {
    padding: 0.7% 0%;
    background-color: #303030;
}

.part1 {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
}

.sous-partie {
    padding: 3% 6%;
}

.nom { 
    font-size: 150%;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
}

.pres {
    font-size: 120%;
    font-family: 'IBM Plex Sans'
}

.part2 {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
}

.sous-partie {
    padding: 3% 6%;
}

.nom { 
    font-size: 150%;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
}

.pres {
    font-size: 120%;
    font-family: 'IBM Plex Sans'
}

.chopin {
    text-decoration: none;
    color: black;
}

.chopin::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.4px;
    background: black;
    bottom: 0;
    transform: scaleX(0.16);
    transform-origin: left;
    transition-duration: 0.7s;
}

.chopin:hover::after {
    transform: scaleX(1);
    transition-duration: 0.7s;
}

.chopin {
    position: relative;
}

.chopin:hover {
    color: #302b63;
}

.image1 {
    width: 50%;
    margin-right: 1%;
}

.image2 {
    width: 50%;
    margin-left: 1%;
}

.image {
    display: flex;
}

.fin {
    margin: 0%, 0%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
}

.sous-fin {
    padding: 3% 6%;
}

li {
    font-family: 'IBM Plex Sans';
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.hfin {
    font-family: 'IBM Plex Sans';
    font-size: 150%;
    text-align: center;
}




@media screen and (max-width: 1499px) {
    section {
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 1499px) {
    .fin {
        width: 100%;
        height: 100%;
    }

    .sous-fin {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 60%;
    }
}